@page
@model EmpireAttack2_ASP.GamePageModel
@{
    ViewData["Title"] = "GamePage";
    Layout = null;
}
    <head>
        <link rel="stylesheet" href="~/css/tilemap.css" />
    </head>
<div id="gameViewSwitch">
    <fieldset>
        <input type="radio" id="mv" name="GameView" value="Map" checked>
        <label for="mv"> Map</label>
        <input type="radio" id="up" name="GameView" value="Upgrades">
        <label for="up"> Upgrades</label>
        <input type="radio" id="it" name="GameView" value="Items">
        <label for="it"> Items</label>
    </fieldset>
</div>
<div id="mapView">
    <div id="viewport">
    </div>
    <p id="lb_Pop">Troops: <strong id="lb_troops"></strong></p>
    <p>Username: <strong id="lb_Username"></strong>, Faction: <strong id="lb_Faction"></strong></p>
    <p id="lb_Time">Time Left: <strong id="lb_timer"></strong></p>
</div>




<style>

    #viewport {
        position: relative; /* to enable further positioned divs inside content area */
        border: 1px solid #777;
        background: white;
        width: 75vh;
        height: 75vh;
        overflow: hidden;
    }

    #tableParent {
        position: relative;
        overflow: auto;
    }

    #lb_Pop {
        margin-left: 800px;
        font-size: x-large;
    }

    fieldset {
        display: inline;
    }
</style>