@page
@model EmpireAttack2_ASP.GamePageModel
@{
    ViewData["Title"] = "GamePage";
    Layout = null;
}
    <head>
        <link rel="stylesheet" href="~/css/tilemap.css" />
    </head>
<h1 class="display-4">Game</h1>
<p>Username: </p>
<p id="lb_Username"></p>
<br />
<p>Faction: </p>
<p id="lb_Faction"></p>
<div id="gameArea">
    <button>Up</button>
    <div id="tableParent"></div>
    <button>Down</button>
</div>