@page
@model EmpireAttack2_ASP.GamePageModel
@{
    ViewData["Title"] = "GamePage";
    Layout = null;
}
    <head>
        <link rel="stylesheet" href="~/css/tilemap.css" />
    </head>
<h1 class="display-4">Game</h1>
@*<p>Username: </p>
<p id="lb_Username"></p>
<br />
<p>Faction: </p>
<p id="lb_Faction"></p>*@
<div id="viewport">
</div>
<p id="lb_Pop">Troops: <strong id="lb_troops"></strong></p>
<p>Username: <strong id="lb_Username"></strong>, Faction: <strong id="lb_Faction"></strong></p>



<style>

    #viewport {
        position: relative; /* to enable further positioned divs inside content area */
        border: 1px solid #777;
        background: white;
        width: 75vh;
        height: 75vh;
        overflow: hidden;
    }

    #tableParent {
        position: relative;
        overflow: auto;
    }

    #lb_Pop {
        margin-left: 800px;
        font-size: x-large;
    }
</style>