@page
@model EmpireAttack2_ASP.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div class="column">
    <h1 class="display-4">Login</h1>
    <input id="in_username" type="text" placeholder="Username" />
    <br />
    <input id="in_password" type="text" placeholder="Password" disabled />
    <br />
    <div id="factionButtons"></div>
    <br />
    <input id="btn_login" type="button" value="Login" />
</div>
<div id="players_online" class="column">
    <strong>Players online</strong>
</div>


<style>
    /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
</style>