@page
@model EmpireAttack2_ASP.ResultsModel
@{
    ViewData["Title"] = "Results";
    Layout = null;
}

<h1>Game has ended</h1>
<div>
    <p id="lb_Reason">Reason <strong id="lb_Faction"></strong></p>
</div>

